<h1>Olá, {{ nickname }}!</h1>

<p>Você solicitou a troca da senha de acesso ao <strong>Sistema on-line do América Locomotiva.</strong></p>

<p><a href="{{ url }}" target="_blank">Clique aqui</a>, ou use o link abaixo para trocar sua senha:</p>

<p>{{ url }}</p>

<p>Este link expira em <strong>2 horas</strong> e só pode ser usado uma única vez.</p>

<p>Se não foi você quem solicitou a troca de senha, por favor, ignore esta mensagem.</p>
