<h2> Bem-vindo {{ fullName }} </h2>
<p>
    Segue abaixo a sua senha para acessar o sistema online do América Locomotiva:

    <h3>{{ generatedPassword }}</h3>

    <a href="{{ appUrl }}"><img src="{{ assetsUrl('/static/media/logo.png') }}" alt="América Locomotiva" /></a>
    {{ appUrl }}

</p>