{
    "plugins": [
        "import"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "./"
                ]
            },
            "babel-module": {}
        }
    }
}